/* Search Bar */
.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    color: black;
}

/* Style Font */
.f-b {
    font-weight: bolder;
}

.f-blk {
    color: black !important;
}

.f-wht {
    color: white !important;
}

.f-red-dark {
    color: #5D4063;
}

.f-red {
    color: #F74854;
}

.f-orange{
    color: #FEBD01 !important;
}

/* Position */
.justify {
    display: block;
    margin: auto;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
}

.input2 {
    /* border: 1px solid black; */
    border-radius: 5px;
}

/* Border */
.bdr-5 {
    border-radius: 5px;
}

.bdr-10 {
    border-radius: 10px;
}

.bdr-15 {
    border-radius: 15px;
}

.bdr-20 {
    border-radius: 20px;
}

.no-b {
    border: none;
}

/* Post Page */
.btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 300px;
    display: block;
    border: 2px solid #555;
}

.btn-tertiary:hover,
.btn-tertiary:focus {
    color: #888;
    border-color: #888;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file+.js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
}

/* Kategori */
@media (max-width: 767px) {
    .kategori {
        margin-left: 14px !important;
        margin-top: 10px !important;
        margin-right: 15px !important;
    }

    .kategori1 {
        margin-left: 14px !important;
        margin-top: 10px !important;
        margin-right: 15px !important;
    }
}

@media (max-width: 767px) {
    .test {
        font-size: 10px !important;
        color: black;
    }
}

.select{
    height: 45px;
    border-radius: 5px;
    margin-left: 13px;
}

@media (max-width: 767px) {
    .m-l-15r {
        margin-left: 50px;
    }
}

/* Artikel */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.45px;
}

.non-hover:hover {
    color: #FEBD01 !important;
}

.non-hover-white:hover {
    color: white !important;
}

.hover-blk:hover {
    color: black !important;
}

.vertical-line {
    border-left: 0.5px black solid;
    margin-right: -10px;
    margin-left: 10px
}

.color-gradient1 {
    /* background: linear-gradient(to right, #F8476C, #FE7D3D) !important; */
    background-color: #FEBD01 !important;
}

.capital {
    text-transform: uppercase !important;
}

#more {
    display: none;
}

/* Hover Images */
.zoom-effect {
    width: 100%;
    overflow: hidden;
  }

  .kotak {
    top: 0;
    left: 0;
  }

  .kotak img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .zoom-effect:hover .kotak img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
